<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simpsonhistory.simpsonhistoryapplication"
    android:versionCode="10"
    android:versionName="Version 10"
    tools:ignore="GradleOverrides">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/appicon"
        android:label= "@string/appName"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="false">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MapActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean"
            />
        <activity android:name=".InfoActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name=".HelpActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScrollActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name=".HistoryInfoActivity" />

    </application>

</manifest>